<nav class="navbar navbar-expand-md shadow   fixed-top">
  <div class="container ">
    
    <a class="navbar-brand" routerLink="home">
      <img src="../../assets/images/logo.png ">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav w-100 d-flex justify-content-around align-items-center">
      <li class="nav-item ">
        <a class="nav-link active" routerLink="movies">Movies <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="tv">TV</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="people">People</a>
        </li>
    
    </ul>
 </div>
 <div class="video-img">
  <i class="fas fa-video fa-2x"></i>
</div>
  </div>
</nav>
    

