<!---- Nav Section -->
<section class="side-nav">
    <div class="header-nav">
      <div class="logo">
        <i class="fas fa-film fa-3x"></i>
      </div>
      <div class="toggle-menu" (click)="press()">
        <i class="fa fa-align-justify"></i>
      </div>
      <div class="social-icons">
        <div> <i class="fas fa-globe"></i> </div>
        <div> <i class="fas fa-share-alt"></i> </div>
      </div>
    </div>
  
    <div class="nav-menu">
      <div class="nav-item">
        <h4 class="p-3"> Movies </h4>
        <ul>
          <li><a class="nav-link" routerLink="movies">Now playing</a></li>
          <li><a class="nav-link" routerLink="popular">Popular</a></li>
          <li><a class="nav-link" routerLink="top-rated"  >Top Rated</a></li>
          <li><a class="nav-link" routerLink="upComing"  >Upcoming</a></li>
         
        </ul>
      </div>
      <div class="social-item">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fas fa-globe"></i></a>
        <div class="pt-3"><span>Copyright Â© 2019 All Rights Reserved.</span></div>
      </div>
    </div>
  </section>